<table class="table table-bordered"  style = "width:10%">
        <tbody>
            <tr>
                {%for f in post.files.all%}
                    <img src = "/media/{{f.fil}}" width="50" height="60">
                {%endfor%}
                <p>title: {{ post.title }}</p>
                <p>price: {{ post.price }}</p>
                <p>caption: {{ post.caption }}</p>
                <p>is_active: {{ post.is_active }}</p>
                <p>is_enable: {{ post.is_enable }}</p>
                <p>code: {{ post.uniqe_code }}</p>
                
                
                

                category:
                {%for f in post.categories.all%}
                    {{f}}
                {%endfor%}
                <br>
                
                <p>create_time: {{ post.create_time }}</p>
                
                <hr>        
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="number" name="count" min="1" value = '{{ form.count.value }}'>
                    <!--در این قسمت باید این دو فیلد پایینی را جوری تنظیم کنیم که تغییر نکند-->
                    <input type="hidden" name="uniqeCode" value = '{{ form.uniqeCode.value }}'>
                    {% comment %} <p>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzz {{ form.user.value }}</p> {% endcomment %}
                    {% comment %} <p readonly>user: {{ form.user }}</p> {% endcomment %}
                    {% comment %} <input type="text" style="display : none" value="nimadfm1400@gmail.com"> {% endcomment %}
                    <input type="hidden" name="user" value = '{{ form.user.value }}'>
                    <input type="submit" value="ثبت شفارش">
                </form>
                <hr>
                <p>Comments</p>
                {% for x in  comment%}
                    {{x.text}}
                    <br>
                {% endfor %}
                {% for x in  users%}
                    {{x}}
                    <br>
                {% endfor %}
                <hr>
                <p>Attention: برای ارسال دیدگاه ابتدا اسم خود را در پروفایل شخصی ثبت کنید</p>
                <form action="/products/comment/" method="post">
                    {% csrf_token %}
                    <p>{{ comform }}</p>
                    <input type="submit" value="ارسال دیدگاه">
                </form>
            </tr>
        
        <!--باید در این قسمت جایی برای انتخاب تعداد و دکمه ای برای اضافه کردن تعداد و کد این محصول به سبد خرید اضافه کنیم -->
        <!--uniqe_code-->
        <!--count-->
        <!--در کارت یک آبجکت میسازیم که یوزر همین شخص لاگین کردست و یونیک کد و تعداد این محصول رو هم مشخص میکنیم-->
        <!-- -->
            
        </tbody>
</table>

<table style="width:100%">
    <tr>
        <td style="width:90%">
        </td>
        <td>
            <a href="/"><button style= "width : 50px; height : 30px;"> بازگشت </button></a>
        </td>
</tr>
</table>



  