<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>Welcome to My Website</h1>
        {%if not posts%}
            <p>همچین پستی وجود ندارد</p> 
        {%endif%}
        {% for x in posts %}
        <!--اگر علامت اسلش را قبل از پروداکت نگذاریم باعث میشود که این آدرس جدید به آدرس قبلی کانکت شود و به مشکل میخوریم-->
        {%for f in x.files.all%}
                    <img src = "/media/{{f.fil}}" width="50" height="60">
        {%endfor%}
        <br>
        category:
        {%for f in x.categories.all%}
            {{f}}
        {%endfor%}
        <p><a href="/products/indexdetail/{{ x.uniqe_code }}/">title:{{x.title}}</a></p>
        <p>code: {{ x.uniqe_code }}</p>
        <p>caption: {{ x.caption }}</p>
        <p>price: {{x.price}}</p>
        {% comment %} <p>categories: {{x.categories}}</p> {% endcomment %}
        {% comment %} <p>files: {{x.files}}</p> {% endcomment %}
        
        <hr>
        {%endfor%}
        <button><p><a href="/">بازگشت</a></p></button>
 
    </main>
</body>

</html>