<!--این صفحه اصلی سایت میباشد
    1- ارم و اسم سایت 
    2- سرچ بار بر اساس محصولات
    3- جستجو بر اساس دسته بندی
    4-نمایش محصولات به صورت صفحه بندی 
    5-درباره ما
    6-آیکون سبد خرید 
    7- اسم یا شماره تلفن یا ایمیل نمایش داده شوددر قسمت گوشه بالا
    8-آیکون پروفایل
    -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>Welcome to My Website</h1>
        {%if not request.user.first_name %}
        <p>{{ request.user }}</p>
        {%endif%}
        {%if request.user.first_name %}
        <p>{{ request.user.get_full_name }}</p>
        {%endif%}
        <p><a href="admin/">ادمین</a></p>
        <p><a href="about/">درباره ما</a></p>
        {%if not request.user.is_authenticated %}
            <a href="auth/register">ثبت نام</a>
            <p><a href="auth/login/">ورود</a></p>
            {% load socialaccount %}
            <p><a href="{% provider_login_url 'google' %}?next=/">login with google</a></p>
        {%endif%}
        {%if request.user.is_authenticated %}
            <p><a href="cart/">سبد خرید</a></p>
            <p><a href="users/profile/">پروفایل</a></p>
            <p><a href="/auth/logout/">خروج از حساب کاربری</a></p>
        {%endif%}

        <form action="/products/listsearch/" method="get">
            {% csrf_token %}
            <input type="text" id="search" name="q">
            <button type="submit">جستجو</button>     
        </form>

        <form action="/" method="get">
            {% csrf_token %}
            <label for="category">دسته بندی:</label>
            <select id="category" name="category">
                <option value="None">همه</option>
                {% for x in categories %}  
                    <option value="{{x.title}}">{{x.title}}</option>
                {%endfor%}
            </select>
            <button type="submit">جستجو</button>
        </form>

        <hr>
        <hr>
        <hr>

        {%if not posts%}
            <p>همچین پستی وجود ندارد</p> 
        {%endif%}
        {% for x in posts %}
            
        {%for f in x.files.all%}
            <img src = "media/{{f.fil}}" width="50" height="60">
        {%endfor%}
        <br>
        <!--اگر علامت اسلش را قبل از پروداکت نگذاریم باعث میشود که این آدرس جدید به آدرس قبلی کانکت شود و به مشکل میخوریم-->
        <p><a href="/products/indexdetail/{{ x.uniqe_code }}/">title:{{x.title}}</a></p>
        <p>code: {{ x.uniqe_code }}</p>
        <p>price: {{x.price}}</p>
        category:
        {%for f in x.categories.all%}
            {{f}}
        {%endfor%}
        

            

        <hr>
        {%endfor%}
        
        
    </main>
</body>

</html>