<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>Welcome to My Website</h1>  
        <p>{{ request.user }}</p>

        <p><a href="products/list/">product</a></p>
        {%if not request.user.is_authenticated %}
            <a href="users/register">register</a>
            <p><a href="users/login/">login</a></p>
        {%endif%}
        <a href="users/logout/">logout</a>
    </main>
</body>

</html>