<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>Welcome to My Website</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <p><a href="/auth/register/">Sign up</a></p>
        <p><a href="/auth/forget/">Forget Password</a></p>
    </main>
</body>

</html>