<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>اطلاعات حساب کاربری</h1>
        <form action="" method="post">
            {% csrf_token %}

            <!--<p>نام: {{form.first_name}}</p>
            <p>نام خانوادگی: {{form.last_name}}</p>
            <p>ایمیل: {{form.email}}</p>
            <p>شماره تلفن: {{form.phone_number}}</p>
            <p>عکس: {{form.avatar}}</p>
            <p>آدرس: {{form.address}}</p>
            -->
            {{form.as_p}}
            <input type="submit" value="بررسی تغییرات">
        </form>
        <!--در این قسمت تاریخچه سفارشات کاربر نمایش داده میشود و لیستی از لیست اسم محصولات و لیتس از لیست تعداد محصولات و 
            یکسری اطلاعات دیگر را به این صفحه فرستادیم
        -->
        <h1> تاریخچه سفارشات</h1>
        {% for y in listpro %}
            <p> {{y}} </p> 
        {%endfor%}
        {% for y in counttemp %}
            <p> {{y}} </p> 
        {%endfor%}
        <hr>
        <hr>
        {% for x in order %}
            <p>Price: {{x.Price}} </p>
            <p>Address: {{x.Address}} </p>
            <p>status pay: {{x.status_pay}} </p>
            <p>status build: {{x.status_build}} </p>
            <p>create time: {{x.create_time}} </p>
            <hr>
        {%endfor%}
        <a href="/"><button type="button">بازگشت</button></a>
        <a href="/users/delete/"><button type="button">حذف حساب کاربری</button></a>
        <a href="/users/logout/"><button type="button">خروج از حساب کاربری</button></a>
        
            
    </main>
</body>

</html>