<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>ProductionList</title>-->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>

<body>
    <main>
        <h1>اطلاعات حساب کاربری</h1>
        <form action="" method="post">
            {% csrf_token %}

            <!--<p>نام: {{form.first_name}}</p>
            <p>نام خانوادگی: {{form.last_name}}</p>
            <p>ایمیل: {{form.email}}</p>
            <p>شماره تلفن: {{form.phone_number}}</p>
            <p>عکس: {{form.avatar}}</p>
            <p>آدرس: {{form.address}}</p>
            -->
            {{form.as_p}}
            <input type="submit" value="بررسی تغییرات">
        </form>
        <a href="/"><button type="button">بازگشت</button></a>
        <a href="/users/delete/"><button type="button">حذف حساب کاربری</button></a>
        <button type="button"><p><a href="/users/logout/">خروج از حساب کاربری</a></p></button>
        
            
    </main>
</body>

</html>